@{
    ViewData["Title"] = "New Hobby";
    Association a = new Association();
    a.HobbyId = @Model.HobbyId;
}
@model Hobby
<h1 class="mt-5">@Model.Name</h1>
<div class="row mt-5">
  <div class="col-3">
    <h4>Description</h4>
  </div>
  <div class="col-9">
    <p>@Model.Description</p>
    <a class="btn btn-dark btn-lg float-right mt-3" asp-action="EditHobby" asp-controller="Home" asp-route-id="@Model.HobbyId">Edit Hobby</a>
  </div>
</div>
<div class="row mt-5">
  <div class="col-6">
    <h4>Hiking Enthusiats:</h4>
    <div>
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Name</th>
            <th>Proficiency</th>
          </tr>
        </thead>
        <tbody>
          @{
            foreach(var u in Model.UserJoined)
            {
              <tr>
                <td>@u.User.FirstName</td>
                <td>@u.Proficiency</td>
              </tr>

            }
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-6">
    <h4>Become an Enthusiats!</h4>
    <partial name="AddHobby" model="a"/>
  </div>
</div>